@{
    ViewData["Title"] = "Dashboard";
}
@await Html.PartialAsync("_Scripts")
<script src="~/lib/chartjs/chart.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //var daily = $('#daily').getContext('2d');
        var daily = document.getElementById('daily').getContext('2d');
        new Chart(daily, {
            type: 'bar',
            data: {
                labels: '@ViewBag.ChartDailyText'.split(','),
                datasets: [{
                    label: '',
                    data: '@ViewBag.ChartDailyVal'.split(','),
                    backgroundColor: 'rgb(0, 120, 212)'
                }]
            },
            options: {
                plugins: {
                    legend: {
                        labels: {
                            display: false,
                            boxWidth:0
                        }
                    }
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        //Monthly
        var monthly = document.getElementById('monthly').getContext('2d');
        new Chart(monthly, {
            type: 'bar',
            data: {
                labels: '@ViewBag.ChartMonthlyText'.split(','),
                datasets: [
                    {
                        label: 'Trolley',
                        data: '@ViewBag.ChartMonthlyTrolley'.split(','),
                        backgroundColor: '#6296ce'
                    },
                    {
                        label: 'Kanban',
                        data: '@ViewBag.ChartMonthlyKanban'.split(','),
                        backgroundColor: '#d67d40'
                    },
                    {
                        label: 'Delay',
                        data: '@ViewBag.ChartMonthlyDelay'.split(','),
                        backgroundColor: '#a5a5a5'
                    },
                ]
            },
            options: {
                plugins: {
                    legend: {
                        position: 'bottom',
                    },
                }
            }
        });
    });
</script>
<div class="row">
    <div class="col-sm-4">
        <div class="info-box bg-gradient-warning">
            <span class="info-box-icon">
                <i class="fas fa-shopping-cart"></i>
            </span>
            <div class="info-box-content">
                <span class="info-box-text">Trolley (per day)</span>
                <span class="info-box-number">@ViewBag.Trolley</span>
            </div>
        </div>
        <div class="info-box bg-gradient-info">
            <span class="info-box-icon">
                <i class="fas fa-columns"></i>
            </span>
            <div class="info-box-content">
                <span class="info-box-text">Kanban (per day)</span>
                <span class="info-box-number">@ViewBag.Kanban</span>
            </div>
        </div>
        <div class="info-box bg-gradient-danger">
            <span class="info-box-icon">
                <i class="fas fa-stopwatch"></i>
            </span>
            <div class="info-box-content">
                <span class="info-box-text">Trolley Delay (per day)</span>
                <span class="info-box-number">@ViewBag.TrolleyDelay</span>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header text-center">
                <h4>DAILY REPORT : @DateTime.Now.ToString("dd MMMM yyyy")</h4>
            </div>
            <div class="card-body">
                <canvas class="my-auto h-auto" id="daily"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header text-center">
                <h4>MONTHLY REPORT : @DateTime.Now.ToString("MMMM yyyy")</h4>
            </div>
            <div class="card-body">
                <canvas class="my-auto h-auto" id="monthly"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="card"></div>
</div>